//- tasks.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="style.css")
    title Lista de Tareas
  body
    h1 Lista de Tareas
    ul
      each task in tasks
        li
          p#paragraph1=task.id
          p(style='color: blue; font-size: 16px;')= task.title
          p= task.completed ? 'Completada' : 'Pendiente'
          p Fecha de Agregado: #{task.dateAdded}

         
